{% load static %}
<h1>About me:</h1>
<div class="card">
    <div class="cointainer_img">
        <img src="{% static 'img/me.png' %}" alt="">
    </div><div class="content_coment">
        My name is Michał and I am a computer science student at the Faculty of Applied Informatics and Mathematics at the Warsaw University of Life Sciences.
        The technologies that operate on a daily basis are Python, PostgreSQL, Angular, C ++.
        Beyond, time I try to study free learning, technological innovations and cultivation
        sport.<br/><a class="btn btn-ghost" href="{% static 'Michal_Zawada_cv.pdf' %}">CV</a>
    </div>
</div>