{% load static %}
<h1>O mnie:</h1>
<div class="card">
    <div class="cointainer_img">
        <img src="{% static 'img/me.png' %}" alt="">
    </div><div class="content_coment">
        Nazywam się Michał i jestem studentem informatyki na wydziale Zastosowań Informatyki i Matematyki SGGW.
        Technologie którymi operuje na co dzień są: Python, PostgreSQL, Angular, C++.
        Poza studiami, wolny czas staram się wykorzystywać na poznawanie nowinek technologicznych oraz uprawianie
        sportu. <br/><a class="btn btn-ghost" href="{% static 'Michal_Zawada_cv.pdf' %}">CV</a>
    </div>
</div>