{% load static %}
<h1>Projects:</h1>
<div class="card">
    <div class="cointainer_img">
        <img src="{% static 'img/kalamburko.png' %}" alt="">
    </div><div class="content_coment">
        <h1>Kalamburko</h1>
        Pun is an online browser game where you compete with your friends to guess passwords.
        The game ends when all the rounds have been played, then the name of the person who won or several people when there was a tie is displayed on the basis of the points scored in the watch.
        <ul>
            <li>Flask</li>
            <li>JavaScript</li>
            <li>HTML</li>
        </ul>
        Repository: <a href="https://github.com/MiiiZawadzki/Projekt-Kalambury">github.com/Projekt-Kalambury</a>
    </div>
</div>

    