{% load static %}
<h1>Projekty:</h1>
<div class="card">
    <div class="cointainer_img">
        <img src="{% static 'img/kalamburko.png' %}" alt="">
    </div><div class="content_coment">
        <h1>Kalamburko</h1>
        Kalamburko jest przeglądarkową grą online, polegającąna rywalizowaniu ze znajomymi w odgadywanie haseł.
        Gra kończy się gdy zostaną rozegrane wszystkie rundywtedy na podstawie uzyskanych punktów na czaciewyświetla się nazwa osoby która wygrała lub kilku osóbgdy był remis.
        <ul>
            <li>Flask</li>
            <li>JavaScript</li>
            <li>HTML</li>
        </ul>
        Repozytorium: <a href="https://github.com/MiiiZawadzki/Projekt-Kalambury">github.com/Projekt-Kalambury</a>
    </div>
</div>

    